
<body class="margin">
    <h1>REGISTRATION</h1>
    <form [formGroup]="userdetails" (ngSubmit)="UserFunction()">
        <label>
            <input type="text" placeholder="First Name" formControlName="firstname">
        </label> <br>

        <label>
            <input type="text" placeholder="Last name" formControlName="lastname">
        </label> <br>

        <label>
            <input type="email" placeholder="Email Id" formControlName="email">
        </label> <br>

        <label>
            <input type="password" placeholder="Password" formControlName="password">
        </label> <br>

        <label>
            <input type="number" placeholder="mobile number" formControlName="mobile">
        </label> <br>

        <button (click)="UserDataFun()" type="submit" value="button">REGISTER</button>
        <p><b>{{userdata}}</b></p>
    </form>

    <p><b>................................... OR ...............................</b></p>
    <!-- LOGIN USER -->

    <form [formGroup]="LoginDetails" (ngSubmit)="LoginFunction()">
        <label>
            <input type="email" placeholder="email id" formControlName="email">
        </label> <br>

        <label>
            <input type="password" placeholder="password" formControlName="password">
        </label> <br>

        <button (click)="LoginDataFun()" type="submit" value="button">LOGIN</button>
      <p><b>{{loginuser}}</b></p>
     
    </form>
</body>
